<li><a class="otherLinkColour">Developer Guides</a>
    <ul>
        <li><a href="{{ site.guides }}mrz-scanner.html" class="otherLinkColour">Full User Guide</a></li>
        <li><a href="{{ site.guides }}mrz-scanner-quick-start.html" class="otherLinkColour">Quick Start Guide</a></li>
        <li><a href="{{ site.guides }}mrz-scanner-customization.html" class="otherLinkColour">Customization Guide</a></li>
        <li><a href="{{ site.guides }}mrz-scanner-static-image.html" class="otherLinkColour">Reading Static Images</a></li>
    </ul>
</li>